@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 애니메이션 클릭미 */

@keyframes clickme{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  overflow:hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  background: url('/public/imgs/background2.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.apps{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.apps>div{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
}

.apps>div>span{
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
}

#bins{
  background: url('/public/imgs/bin.png') center;
  background-size: contain;
}

#mypc{
  background: url('/public/imgs/mypc.png') center;
  background-size: contain;
}

#messenger{
  background:  url('/public/imgs/avocado.png') center;
  background-size: contain;
}


/* 푸터 */
#footer{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color:#555;
}


/* popup */

#popup{
  width: 300px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  bottom: -10%;
  right: 0;
  background:  #eee;
  transition: 0.5s;
  line-height: 100px;
  
}

/* 클릭미 */
.clickme{
  position: absolute;
  width: 100px; height: 100px;
  display: none;
}

#popup img.on{
  display: block;
  right: 50px; top: -100px;
  animation: clickme 1s infinite normal none;
}

.user-insert img.on{
  display: block;
  right: 0; bottom: 100px;
  animation: clickme 1s infinite normal none;
}

#chat{
  width: 40%;
  height: 85%;
  background-color: rgb(201, 239, 177);
  position: absolute;
  right: 20%;
  top: 5%;
  display: none;
}

#chat>div{
  width: 100%;
}


/* 채팅창 화면 -> 애니메이션 구현될 화면 */
#chat>div:first-child{
  height: 80%;
  padding: 20px 10px;
}
#chat>div:first-child .hj{
  margin-bottom: 15px;
  text-align: left;
  margin-left: 20px;
}
#chat .chat-box{
  padding: 5px 10px;
  border-radius: 5px;
  background: #fff;
}

#chat>div:first-child .user{
  text-align: right;
  margin-left: 20px;
  margin-bottom: 15px;
}

#chat .chat-box.img{
  width: 100px;
  height: 100px;
  background:  url('/public/imgs/meme.jpg') center/100%;
  border: 4px solid #fff;
  cursor: pointer;
}

#chat .chat-box.file{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

#chat .chat-box.file>a{
  display: inline-block;
  width: 30px; height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

#chat .chat-box.file>a>img{
  width: 100%; height: 100%;
 position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);
}

#chat .chat-box.file>a:hover{
  background: rgba(100,100,100,0.1);
}


/* 채팅 입력칸 */

#chat>div:nth-child(2){
  height: 20%;
  display: flex;
  justify-content: center;
}

#chat>div:nth-child(2)>div{
  display: inline-block;
  width: 78%;
  height: 90%;
  outline: none;
  border: none;
  background: #fff;
  padding-left: 10px;
  text-align: left;
  padding-top: 20px;
}

#chat>div:nth-child(2)>button{
  width: 20%;
  height: 90%;
  outline: none;
  border: none;
}

#chat>div:nth-child(2)>button.on{

  cursor: pointer;
}

.small-logo{
  font-size: 24px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(201, 239, 177);
  background-color: rgb(201, 239, 177);
}

/* 팝업*/
#popupImg{
  width: 90%;
  height: 90%;
  background: #fff;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: row;

}

#popupImg .inner-contents{
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

#popupImg>ul{
  margin: 0 auto;
  width: 90%;
  height: 85%;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3%;
  position: relative;
  overflow: hidden;
}

#popupImg>ul>li{
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: nanumsquare;
}

#popupImg>ul>li:nth-child(1){
  left: 0;
}

#popupImg>ul>li:nth-child(2){
  left: 100%;
}

#popupImg>ul>li:nth-child(3){
  left:200%;
}



/* 이전/다음버튼 */

#popupImg>span:nth-child(1){
  position: absolute;
  top: 40%;
  left: 2%;
  width: 15px;
  height: 15px;
  border-top: 4px solid #bbb;
  border-right: 4px solid #bbb;
  transform: rotate(225deg);
  cursor: pointer;
}
#popupImg>span:nth-child(1):hover{
  border-top: 4px solid #555;
  border-right: 4px solid #555;
}

#popupImg>span:last-child{
  position: absolute;
  top: 40%;
  right: 2%;
  width: 15px;
  height: 15px;
  border-bottom: 4px solid #bbb;
  border-left: 4px solid #bbb;
  transform: rotate(225deg);
  cursor: pointer;
}

#popupImg>span:last-child:hover{
  border-bottom: 4px solid #555;
  border-left: 4px solid #555;
}


/* 닫기버튼 */
.likebtn{
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 30px;
  cursor: pointer;
  color: #bbb;
}

.likebtn:hover{
  color: #555;
}

/* 팝업메세지 창 */
#popmessage{
  position: absolute;
  top: 50%; left: 50%;
  width: 10%;
  transform: translate(-50%,-50%);
}
#popmessage>h5{
  padding: 5%;
  background-color: #ccc;
  color: #555;
}

/* 스킬 페이지 */
#skills{
  width: 100%;
  height: 100%;
  font-family: nanumsquare;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#skills h2{
  margin-left: 50px;
  margin-bottom: 20px;
}

#skills>div{
  width: 100%;
  text-align: left;
}

#skills img{
  height: 40px;
}

#skills table{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#skills table>tr>td:nth-child(2){
  width: 80%;
  text-align: left;
  padding: 0;
}

#skills table>tr>td:nth-child(2)>div{
  height: 100%;
  background-color: springgreen;
  text-align: right;
  padding: 5px;
}

#skills table>tr>td:nth-child(2)>div#html{
  width: 90%;
}
#skills table>tr>td:nth-child(2)>div#css{
  width: 80%;
}
#skills table>tr>td:nth-child(2)>div#scss{
  width: 80%;
}
#skills table>tr>td:nth-child(2)>div#js{
  width: 80%;
}
#skills table>tr>td:nth-child(2)>div#react{
  width: 75%;
}
#skills table>tr>td:nth-child(2)>div#redux{
  width: 75%;
}
#skills table>tr>td:nth-child(2)>div#node{
  width: 70%;
}
#skills table>tr>td:nth-child(2)>div#mysql{
  width: 75%;
}
#skills table>tr>td:nth-child(2)>div#php{
  width: 65%;
}
#skills table>tr>td:nth-child(2)>div#git{
  width: 70%;
}


/* 포트폴리오 페이지 */
#portfolio{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

  #portfolio>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 40%;
    margin: 0 auto;
  }

  #portfolio ul>li{
    width: 24%;
    height: 100%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
  }

  #portfolio ul>li:hover >div{
    display: flex;
  }

  #portfolio img{
    width: 90%;
    height: 80%;
    margin-bottom: 5px;
  }

  #portfolio>div{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #portfolio ul>li>div{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: rgba(265,265,265,0.7);
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #portfolio ul>li>div>span{
    width: 100%;
  }

  #portfolio ul>li>div>a{
    display: inline-block;
    width: 30px; height: 30px;
    margin-left: 5px;
    margin-top: 10px;
  }
  #portfolio a.github{
    background: url("/public/imgs/GitHub-Mark-32px.png") no-repeat center center;
  }

  #portfolio a.home{
    background: url("/public/imgs/icons8-home-50.png") no-repeat center center/100% 100%;
  }


  #portfolio>div>ul{
    display: flex;
    width: 90%; height: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }


/* 자기소개 페이지 */
#mypr{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#mypr>div:nth-child(2){
  width: 100%; height: 20%;
  text-align: left;
  margin-left: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

#mypr>div:nth-child(3){
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  text-align: left;
  align-items: center;
  line-height: 1.5;
}

#mypr img{
  width: 300px; height: 300px;
  border-radius: 50%;
}

#myphone{
  display: none;
}


@media screen and (max-width:768px){

  .App{
    padding-top: 0;
  }

  .apps{
    display: none;
  }

  #myphone{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

  }

  /* 모바일 메인화면 */
  #phone_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  /* 반응형 정사각형 만들기 */
  #phone_main>div{
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  #phone_main>#left-app>div{
    width: 40%;
    height: 40%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #phone_main>#left-app>div:nth-child(1){
    background: url('/public/imgs/ical.png') center/100% 100%;
  }

  #phone_main>#left-app>div:nth-child(2){
    background: url('/public/imgs/iclock.png') center/100% 100%;
  }

  #phone_main>#left-app>div:nth-child(3){
    background: url('/public/imgs/camera.png') center/100% 100%;
  }

  #phone_main>#left-app>div:nth-child(4){
    background: url('/public/imgs/weather.png') center/100% 100%;
  }

  #phone_main>#left-app>div::after{
    display: block;
    content: "";
    padding-bottom: 100%;
  }

  #phone_main>#left-app>div>span{
    position: absolute;
    bottom: -20%; left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
  }

  #phone_main>#right-app{
    background: url('/public/imgs/battery.png') center/ 100% 100%;
    margin-top: 10px;
    margin-right: 10px;
  }

  #myphone>div:nth-child(2){
    width: 98%;
    margin: 10px;
    height: 15%;
    background: rgba(265,265,265,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #myphone>div:nth-child(2)>div{
    width: 23%;
    height: 90%;
    background: url('/public/imgs/call.png') center/90% 100% no-repeat;
  }

  #myphone>div:nth-child(2)>div:nth-child(2){
    background: url('/public/imgs/message.png') center/90% 100% no-repeat;
  }

  #myphone>div:nth-child(2)>div:nth-child(3){
    background: none;
    position: relative;
  }

  #myphone>div:nth-child(2)>div:nth-child(3)>span{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 65px;
    line-height: 1.2;
    background-color: rgb(201, 239, 177);
    border-radius: 10%;
  }

  #myphone>div:nth-child(2)>div:nth-child(4){
    background: url('/public/imgs/setting.png') center/90% 100% no-repeat;
  }

  /* 모바일 버전에서 기존 팝업창 수정 */
  /* 메세지 알림 팝업창 위에서 아래로 */
  #popup{
    width: 100%;
    position: absolute;
    top: -10%;
    font-size: 18px;
    background:  #eee;
  }

  #popup>span{
    font-size: 24px;
    margin-right: 5%;
  }

  #popup img.on{
    display: block;
    width: 50px; height: 50px;
    right: 20px; top:0;
    transform: rotate(30deg);
    animation: clickme 1s infinite normal none;
  }
 
  #chat{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1%;
  }

  .user-insert img.on{
    right: 3%; bottom: 150px;
  }

  #popupImg{
    width: 100%;
    height: 100%;
  }

  #portfolio>ul{
    flex-wrap: wrap;
  }

 #portfolio>ul>li{
  height: 48%;
 }
  #portfolio ul>li{
    width: 48%;
  }
  #portfolio>ul>li>span{
    font-size: 14px;
  }

  #mypr>div:nth-child(2){
    margin-left: 0;
    padding: 5%;
  }

  #mypr>div:nth-child(3){
    padding: 3%;
  }

  #mypr>div:nth-child(3)>img{
    width: 50%;
    height: 50%;
  }

  #mypr div>p{
    font-size: 14px;
  }

  #popupImg>ul{
    height: 90%;
    margin-top: 5%;
  }

  .likebtn{
    top: 0%;
    font-size: 25px;
  }

}